{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Property Searching Just Got So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'society' city_id %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (name of the Society)">
                </div>

              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
<style>
 .starter-template {
            padding: 80px 15px;
            text-align: center;
        }

span.lower-text {
            color: #ffc300;
            font-size: 25px;
            display: block;
        }

        .hover-div {
            padding: 20px 20px;
            text-align: center;
            min-height: 350px;
        }

        .hover-div {
            border-top: 1px solid #f8f8f8;
            background: #f8f8f8;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin: 10px 0px;
        }

        .hover-div:hover {
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
            cursor: pointer;
            border-radius: 5px;
        }
</style>

<div class="container">
  <h2 class="text-center text-bold">Societies Details</h2>
        <div class="starter-template">
            <div class="row">
            {% if societys %}
                {% for society in societys %}
                <div class="col-sm-6">
                    <section class="hover-div"> <a href="/listings/society-main/{{ society.id }}"> <img src="{{ society.photo_main.url }}" width="100">
                        <div class="hover-div_inner">
                            <h3><a href="/listings/society-main/{{ society.id }}">{{ society.title }}</a></h3>
                            <p class="text-center">{{ society.address}}</p>
{#                            <div class="hover-div-lower">#}
{#                                <div class="col-xs-6 text-left"><span class="lower-text">{{ society.city }}</span></div>#}
{#                                <div class="col-xs-6 text-right"><span class="lower-text">{{ society.state }}</span></div>#}
{#                            </div>#}
                        </div>
                        </a>
                    </section>
                </div>
                {% endfor %}
                    {% else %}
          <div class="col-md-12">
            <p>No Society Available</p>
          </div>
        {% endif %}
            </div>
        </div>
    </div>

{% include 'partials/services.html' %}
    <script>
     $(document).ready(function () {
            $('.hover-div').hover(function () {
                $('.hover-div').stop().fadeTo('fast', 0.3);
                $(this).stop().fadeTo('fast', 1);
            }, function () {
                $('.hover-div').stop().fadeTo('fast', 1);
            });
        });
    </script>
{% endblock %}