{% extends 'base.html' %}
{% load embed_video_tags %}
{% load humanize %}

{% block title %} | {{ phase_main.society.title }} {% endblock %}
{% block content %}

<style>

.news{width: 20%}
.news-scroll a{text-decoration: none}
.dot{height: 6px;width: 6px;margin-left: 3px;
          margin-right: 3px;margin-top: 2px !important;
          background-color: rgb(207,23,23);border-radius: 50%;display: inline-block}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}


.rate {
    {#float: left;#}
    height: 46px;
    {#padding: 0 10px;#}
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  bottom: 75px;
  background-color: #00000044;
  backdrop-filter: blur(10px);
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

</style>


      <!-- Top Data -->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        {% for phase_main in phase_mains %}
      <div class="row text-center" style="background: #454545;border-radius: 20%;">
            {#            <img src="{% static 'img/about.jpg' %}" alt="" style="margin-top: -5%;">#}
{#            <img class="d-block w-100" src="{{ phase_main.society_phase_home_page_images.photo_main.url }}" style="margin-top: -4.2%;" alt="First slide">#}

        <div class="col-md-12">
          <h1 class="display-4">{{ phase_main.title }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ phase_main.society.city }} {{ phase_main.society.state }}, {{ phase_main.society.zipcode }}</p>
        </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
{#  <section id="bc" class="mt-3">#}
{#    <div class="container">#}
{#      <nav>#}
{#        <ol class="breadcrumb">#}
{#          <li class="breadcrumb-item">#}
{#            <a href="{% url 'index' %}">Home</a>#}
{#          </li>#}
{#          <li class="breadcrumb-item">#}
{#            <a href="{% url 'listings' %}">Listings</a>#}
{#          </li>#}
{#          <li class="breadcrumb-item active">{{ phase_mains.title }}</li>#}
{#        </ol>#}
{#      </nav>#}
{#    </div>#}
{#  </section>#}

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">

    <div class="container">
{#      <a href="listings/society/{{ city.id }}" class="btn btn-light mb-4">Back To  Society</a>#}
{#        <div style="text-align: center">#}
{#            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Phase 1</a>#}
{#            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Phase 2</a>#}
{#            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Phase 3</a>#}
{#        </div>#}
   <div class="row">

{% for phase_main in phase_mains %}
          <div class="col-md-6">

          <ul class="list-unstyled d-flex mb-0">
          <p style="font-weight: bold; ">Rating:&nbsp;&nbsp;&nbsp;&nbsp;</p>
              {{ total_phase_rating }}
              {% if total_phase_rating == 0 %}
                    <li style="margin-left: 1%;"><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif total_phase_rating <= 1 %}
                  <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  {% elif total_phase_rating == 1.5 %}

              <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif total_phase_rating <= 2 %}
                  <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                      {% elif total_phase_rating == 2.5 %}
                  <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif total_phase_rating <= 3 %}
                  <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                          {% elif total_phase_rating == 3.5 %}
                  <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif total_phase_rating <= 4 %}
            <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  {% elif total_phase_rating == 4.5 %}
                <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
              {% elif total_phase_rating <= 5 %}
                <li style="margin-left: 1%;"><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
              {% endif %}

            <button class="btn-dark" style="color: white;margin-left: 2%;border-radius: 30%;" data-toggle="modal" data-target="#RatingModal">View Rating</button>
            </ul>
          </div>
   {% endfor %}


<!-- Rating Modal -->
      <div class="modal fade" id="RatingModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RatingModalLabel">All User Rating</h5>
            {% if user.is_authenticated %}
                   <div class="col-md-6" style="float: right">
                    <button class="btn-dark btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Review</button>
                    </div>
            {% endif %}
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% for rating in phase_ratings %}

            <div class="form-group">
                          <ul class="list-unstyled d-flex">
          <p>Rating: &nbsp;&nbsp;&nbsp;&nbsp;</p>
              {% if rating.rate == 0 %}
              <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif rating.rate <= 1 %}
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  {% elif rating.rate == 1.5 %}

              <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif rating.rate <= 2 %}
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                      {% elif rating.rate == 2.5 %}
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif rating.rate <= 3 %}
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                          {% elif rating.rate == 3.5 %}
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
              {% elif rating.rate <= 4 %}
            <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="far fa-star fa-sm text-warning"></i></li>
                  {% elif rating.rate == 4.5 %}
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star fa-sm text-warning"></i></li>
                  <li><i class="fas fa-star-half fa-sm text-warning"></i></li>
              {% elif rating.rate <= 5 %}
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                <li><i class="fas fa-star fa-sm text-warning"></i></li>
              {% endif %}
              <label style="margin-left: 30%" for="message " class="col-form-label">User:&nbsp;{{ rating.user_id }}</label>
            </ul>
              <label for="message" class="col-form-label">Message: <br>{{ rating.comment }}</label>
            </div>
            <hr>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>



   <div class="col-md-12">
          <!-- Home Main Image -->
          <div class="row mb-5 thumbs">
          </div>
          <!-- Fields -->
      {% for phase_main in phase_mains %}

<div class="row mb-5 fields" style="border: 2px;border-radius: 1%; border-style:dashed ">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Launch Date:
                  <span class="float-right">{{ phase_main.launch_date |date }}</span>
                </li>
                  <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> possession:
                  <span class="float-right">{{ phase_main.posession }}</span>
                </li>
                  <li class="list-group-item text-secondary">
                  <i class="fas fa-sitemap"></i> Offical Website:
                    <span class="float-right"><a style="text-decoration: none;color: #1ba87e" href="{{phase_main.official_website  }}">{{phase_main.official_website }}</a>
                  </span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Project Status:
                  <span class="float-right">{{ phase_main.society_status.title }}</span>
                </li>
                  <li class="list-group-item text-secondary">
                  <i class="fas fa-paperclip"></i> Transfer Type:
                  <span class="float-right">{{ phase_main.plot_types.title }}
                  </span>
                </li>
                                    <li class="list-group-item text-secondary">
                  <i class="fas fa-mobile"></i> Offical Contact No:
                  <span class="float-right">{{ phase_main.official_contact_number }}
                  </span>
                </li>
              </ul>
            </div>


            <div class="col-md-12">
              <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Approvals:&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="">
                      {% for socity_phase_approved_from in socity_phase_approved_froms %}
                      <a class="badge badge-primary" style="color: white" >{{socity_phase_approved_from.title}}</a>
                          {% endfor %}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-child"></i> Facilities:
                  <span class="float-right">
                  Available:&#9989;
                      {% if phase_main.gas_facilities %}
                          <a class="badge badge-success" style="color: white" >Gas</a>
                      {% endif %}
                        {% if phase_main.water_facilities %}
                            <a class="badge badge-success" style="color: white" >water</a>
                      {% endif %}
                        {% if phase_main.mantaince_facilities %}
                        <a class="badge badge-success" style="color: white" >Maintainer</a>
                      {% endif %}
                        {% if phase_main.secuirty_facilities %}
                        <a class="badge badge-success" style="color: white" >Security 24/7</a>
                      {% endif %}
                        {% if phase_main.sav_facilities %}
                         <a class="badge badge-success" style="color: white" >Sav</a>
                      {% endif %}
                  {% if phase_main.electricity_facilities %}
                        <a class="badge badge-success" style="color: white" > Electricity</a>
                      {% endif %}
                  {% if phase_main.school_facilities %}
                        <a class="badge badge-success" style="color: white" > School</a>
                      {% endif %}
                  {% if phase_main.hospital_facilities %}
                        <a class="badge badge-success" style="color: white" > Hospital</a>
                      {% endif %}
                  {% if phase_main.internt_facilities %}
                         <a class="badge badge-success" style="color: white" >Internet</a>
                      {% endif %}
                  {% if phase_main.telephone_facilities %}
                       <a class="badge badge-success" style="color: white" >  Telephone</a>
                      {% endif %}
                  {% if phase_main.club_facilities %}
                        <a class="badge badge-success" style="color: white" > Club</a>
                      {% endif %}
                  </span>
                <br>
                <span class="float-right">
                    Not Available:&#10060;
                      {% if not phase_main.gas_facilities %}
                       <a class="badge badge-primary" style="color: white" > Gas</a>
                      {% endif %}
                        {% if not phase_main.water_facilities %}
                        <a class="badge badge-primary" style="color: white" >water</a>
                      {% endif %}
                        {% if not phase_main.mantaince_facilities %}
                        <a class="badge badge-primary" style="color: white" >Maintainer</a>
                      {% endif %}
                        {% if not phase_main.secuirty_facilities %}
                        <a class="badge badge-primary" style="color: white" >Security 24/7</a>
                      {% endif %}
                        {% if not phase_main.sav_facilities %}
                         <a class="badge badge-primary" style="color: white" >Sav</a>
                      {% endif %}
                  {% if not phase_main.electricity_facilities %}
                         <a class="badge badge-primary" style="color: white" >Electricity</a>
                      {% endif %}
                  {% if not phase_main.school_facilities %}
                         <a class="badge badge-primary" style="color: white" >School</a>
                      {% endif %}
                  {% if not phase_main.hospital_facilities %}
                         <a class="badge badge-primary" style="color: white" >Hospital</a>
                      {% endif %}
                  {% if not phase_main.internt_facilities %}
                         <a class="badge badge-primary" style="color: white" >Internet</a>
                      {% endif %}
                  {% if not phase_main.telephone_facilities %}
                         <a class="badge badge-primary" style="color: white" >Telephone</a>
                      {% endif %}
                  {% if not phase_main.club_facilities %}
                      <a class="badge badge-primary" style="color: white" >Club</a>
                      {% endif %}
                  </span>
                </li>
              </ul>
            </div>
          </div>

                                  <!-- for Transfer Charges -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transfer Charges</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">{{phase_main.transfer_charges|safe }}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    {% endfor %}



                <!-- Transfer office module -->
                   {% if society_transfer_offices %}
                       <div class="col-md-12" style="border: 1px solid;margin-top: 2%;padding: 1%;">

                              <b>Transfer Office:</b>
                              {% for society_transfer_office in society_transfer_offices %}
                          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample{{ society_transfer_office.id }}" aria-expanded="false" aria-controls="collapseExample">
                            {{ society_transfer_office.office_name}}
                          </button>
                          {% endfor %}

                    {% for society_transfer_office in society_transfer_offices %}
                   <div class="collapse card mb-3" id="collapseExample{{ society_transfer_office.id }}">
                  <div class="card card-body">
                    <h5 class="card-title">Office Name: {{ society_transfer_office.office_name}}</h5>
                      <h6 class="card-title">Contact No: {{ society_transfer_office.office_contact_no}}</h6>
                    <p class="card-text">{{ society_transfer_office.description_and_details|safe }}</p>
                    <p class="card-text"><small class="text-muted">Office Address: {{ society_transfer_office.office_address }}</small></p>
                  </div>
                </div>
                       {% endfor %}
                       </div>
                      {% endif %}


                   <!-- Transfer office module -->
               {% if phase_mains %}
                   <div class="col-md-12" style="border: 1px solid;margin-top: 2%;padding: 1%;">
                   <b>Transfer Charges:</b>
                   <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Click Here To View Transfer Charges</button>
                    </div>
                  {% endif %}




                {% if socity_phase_maps %}
                <div class="row mt-5">
                {% for socity_phase_map in socity_phase_maps %}
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ socity_phase_map.title}}</h5>
                        <p class="card-text">{{ socity_phase_map.description }}</p>
                          <button class="btn btn-primary"><a style="color: white; text-decoration: none" href="{{ socity_phase_map.map.url }}" download="">Click to Download</a></button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                   {% endif %}

               {% for phase_main in phase_mains %}
                   <div class="row mt-5">
                   <div class="col-md-7">
                   <p>Phase Gallery</p>
                   <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                      {% if phase_main.society_phase_home_page_images.photo_main %}
                    <div class="swiper-slide">
                      <img src="{{ phase_main.society_phase_home_page_images.photo_main.url }}" alt="First slide">
                    </div>
                    {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_1 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_1.url }}" alt="Second slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_2 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_2.url }}" alt="Third slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_3 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_3.url }}" alt="Fourth slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_4 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_4.url }}" alt="Fifth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_5 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_5.url }}" alt="Sixth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_6 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_6.url }}" alt="Second slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_7 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_7.url }}" alt="Third slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_8 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_8.url }}" alt="Fourth slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_9 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_9.url }}" alt="Fifth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_10 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_10.url }}" alt="Sixth slide">
                  </div>
                {% endif %}

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                  <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      {% if phase_main.society_phase_home_page_images.photo_main %}
                    <div class="swiper-slide">
                      <img src="{{ phase_main.society_phase_home_page_images.photo_main.url }}" alt="First slide">
                    </div>
                    {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_1 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_1.url }}" alt="Second slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_2 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_2.url }}" alt="Third slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_3 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_3.url }}" alt="Fourth slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_4 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_4.url }}" alt="Fifth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_5 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_5.url }}" alt="Sixth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_6 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_6.url }}" alt="Second slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_7 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_7.url }}" alt="Third slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_8 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_8.url }}" alt="Fourth slide">
                  </div>
                {% endif %}
                    {% if phase_main.society_phase_home_page_images.photo_9 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_9.url }}" alt="Fifth slide">
                  </div>
                {% endif %}
                      {% if phase_main.society_phase_home_page_images.photo_10 %}
                  <div class="swiper-slide">
                    <img src="{{ phase_main.society_phase_home_page_images.photo_10.url }}" alt="Sixth slide">
                  </div>
                {% endif %}

                    </div>
                  </div>
                     </div>
                     <div class="col-md-5">
                         <p>Location on Map</p>
                     <iframe src="{{ phase_main.location_on_map|safe }}" width="100%" height="300" style="border: 0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                    </div>
               {% endfor %}


                   <!-- other documents for download module -->
               {% if socity_phase_other_documents %}
                   <div class="col-md-12" style="border: 1px solid;margin-top: 2%;padding: 1%;">

                          <b>Important Document:</b>
                          {% for socity_phase_other_document in socity_phase_other_documents %}
                      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample{{ socity_phase_other_document.id }}" aria-expanded="false" aria-controls="collapseExample">
                        {{ socity_phase_other_document.title}}
                      </button>
                      {% endfor %}

                {% for socity_phase_other_document in socity_phase_other_documents %}
               <div class="collapse card mb-3" id="collapseExample{{ socity_phase_other_document.id }}">
                <div class="card card-body">
                    <h5 class="card-title">Title: {{ socity_phase_other_document.title}}</h5>
                <p class="card-text">{{ socity_phase_other_document.description|safe }}</p>
                 <button class="btn btn-primary"><a style="color: white; text-decoration: none" href="{{ socity_phase_other_document.document.url }}" download="">Click to Download</a></button>

                </div>
                </div>
                   {% endfor %}
                   </div>
                  {% endif %}






                   <div class="container mt-5 overflow-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" justify-content-between align-items-center breaking-news bg-white">
                                <div class="flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;Latest News & Updates</span></div>
                                    <div class="ml-3 mt-2" style="overflow: auto; height: 100px;">
                                     {% for latest_new in latest_news %}
                                        <p>
                                    <span class="dot"></span> <a target="_blank" href="{{ latest_new.news_link }}">{{ latest_new.title }} Related to {{ latest_new.society_phase.title }} </a>
                                    </p>
                                    {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>




                    {% for phase_main in phase_mains %}
                                  <div class="row mb-5 mt-5">
                                <div class="col-md-12">
                                    {{ phase_main.description_and_details_1|safe }}
                                </div>
                              </div>
                       {% endfor %}



                    {#   table#}
                    <div class="card mb-4 mt-5" style="overflow-x:auto;">
                        <div class="card-header">
                            <div class="card-heading">Daily Price Update Chart</div>
                            <input class="float-right" id="date_value" onchange="updateTableRecord({{ society_id }}, {{ phase_id }})" type="date">
                        </div>
                            <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Phase</th>
                                    <th>Dim</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Block</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Contact</th>
                                    <th>Remarks</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if phase_plot_table_datas %}
                                {% for phase_plot_table_data in phase_plot_table_datas %}
                                <tr>
                                    <td>{{ phase_plot_table_data.society_phase.title }}</td>
                                    <td>{{ phase_plot_table_data.dimension|safe }}</td>
                                    <td>{{ phase_plot_table_data.plot_type.title }}</td>
                                    <td>{{ phase_plot_table_data.plot_category.title }}</td>
                                    <td>{{ phase_plot_table_data.block }}</td>
                                    <td>{{ phase_plot_table_data.price }}</td>
                                    <td>{{ phase_plot_table_data.list_date|date }}</td>
                                    <td>{{ phase_plot_table_data.contact }}</td>
                                    <td>{{ phase_plot_table_data.remarks }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>



         {% for phase_main in phase_mains %}
                       <!-- Description -->
          <div class="row mb-5 mt-5">
            <div class="col-md-12">
                {{ phase_main.description_and_details_2|safe }}
            </div>
          </div>

             
             
             
            <!-- videos  -->

            <div class="col-md-12 mt-4">
                <div id="carouselExampleIndicators1" class="carousel slide" data-interval="false">
              <ol class="carousel-indicators">
                  {% if phase_main.society_phase_youtube_videos.yut_video_1 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                  {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_2 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
              {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_3 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
              {% endif %}
                    {% if phase_main.society_phase_youtube_videos.yut_video_4 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
              {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_5 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
              {% endif %}
                    {% if phase_main.society_phase_youtube_videos.yut_video_6 %}
                <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
              {% endif %}
              </ol>
              <div class="carousel-inner">
                  {% if phase_main.society_phase_youtube_videos.yut_video_1 %}
                <div class="carousel-item active hover-zoom">
                  {% video phase_main.society_phase_youtube_videos.yut_video_1 '100% x 480' %}
                </div>
                  {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_2 %}
                <div class="carousel-item hover-zoom">
                  {% video phase_main.society_phase_youtube_videos.yut_video_2 '100% x 480' %}
                </div>
              {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_3 %}
                <div class="carousel-item">
            {% video phase_main.society_phase_youtube_videos.yut_video_3 '100% x 480' %}    </div>
              {% endif %}
                    {% if phase_main.society_phase_youtube_videos.yut_video_4 %}
                <div class="carousel-item hover-zoom">
            {% video phase_main.society_phase_youtube_videos.yut_video_4 '100% x 480' %}    </div>
              {% endif %}
                  {% if phase_main.society_phase_youtube_videos.yut_video_5 %}
                <div class="carousel-item">
            {% video phase_main.society_phase_youtube_videos.yut_video_5 '100% x 480' %}    </div>
              {% endif %}
                    {% if phase_main.society_phase_youtube_videos.yut_video_6 %}
                <div class="carousel-item">
            {% video phase_main.society_phase_youtube_videos.yut_video_6 '100% x 480' %}    </div>
              {% endif %}
              </div>
              <a class="carousel-control-prev" style="margin-bottom: 15%" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" style="margin-bottom: 15%" href="#carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>


            {% endfor %}

        </div>
      </div>
    </div>
  </section>


    <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Review</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="{% url 'rating' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
          <input type="hidden" name="society_id" value="{{ society_id }}">
          <input type="hidden" name="phase_id" value="{{ phase_id }}">
            <div class="form-group">
{#              <label for="phone" class="col-form-label">Rating:</label>#}
              <div class="rate">
                  Rating:
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Comment:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-dark">
          </form>
        </div>
      </div>
    </div>
  </div>

    <script>

    function updateTableRecord(society, phase){
    var date_value = $('#date_value').val();
    $.ajax({
          url: '/listings/society-phase/'+society+'/'+phase,
          type:"GET",
        data:{
              'date':date_value,
        },
          success: function(response, xhr){
                window.location.href = window.location.href;
          }
    });
}

    </script>
{% endblock %}